.discover-main-section {
  display: flex;
  align-items: center;
  flex-grow: 1;
  justify-content: space-between;
  @media (max-width: 800px) {
    flex-direction: column;
    justify-content: center;
  }
}
.covers-image {
  width: 30vw;
  height: auto;
  max-width: 350px;
  margin-left: 2rem;
  @media (max-width: 800px) {
    margin: 2rem 0;
    height: 30vh;
    width: auto;
  }
}
.icon {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin: 0.5rem;
  padding: 0.75rem;
  background-color: #5c2a9d;
  width: 100px;
  height: 100px;
  margin-bottom: 2rem;
  color: white;
  img {
    width: 40px;
  }
}
